@inherits UmbracoViewPage

@{
	var home = new Home(UmbracoUtility.GetHomePage(Model));
}

<footer id="footer" class="footer dark-background">
    <div class="container footer-top">
        <div class="row gy-4">
            <div class="col-lg-4 col-md-6 footer-about">
                <a href="index.html" class="logo d-flex align-items-center">
                    <span class="sitename">@home.SiteName</span>
                </a>
                <div class="footer-contact pt-3">
                    <p>@home.FooterNote</p>
                </div>
                <div class="social-links d-flex mt-4">
                    @foreach (var link in home.SocialLinks)
                    {
                        <a href=@link.Url class=@link.Name><i class="@($"fa fa-{link.Name}")"></i></a>
                    }
                </div>
            </div>

            <div class="col-lg-2 col-md-3 footer-links">
                <h4>Navigation</h4>
                <ul>
                    @foreach (var content in home.NavigationItems)
                    {
                        var header = content as IHeaderProperties;
                        var footer = content as IFooterProperties;
                        if (header != null && footer != null && !footer.HideFromFooter)
                        {
                            <li><a href=@content.Url()>@header.PageTitle</a></li>
                        }
                    }
                </ul>
            </div>

            <div class="col-lg-2 col-md-3 footer-links">
                <h4>Latest Articles</h4>
                <ul>
                    @foreach (var article in home.AllArticles)
                    {
                        <li><a href=@article.PageUrl>@article.CardTitle</a></li>
                    }
                </ul>
            </div>

            @foreach (var featureLinks in home.FooterLinks)
            {
                <div class="col-lg-2 col-md-3 footer-links">
                    <h4>@featureLinks.LinksTitle</h4>
                    <ul>
                        @foreach (var link in featureLinks.Links)
                        {
                            <li><a href=@link.Url>@link.Name</a></li>
                        }
                    </ul>
                </div>
            }
        </div>
    </div>

    <div class="container copyright text-center mt-4">
        <p>© <span>Copyright</span> <strong class="px-1 sitename">ThePhyllosopher</strong> <span>All Rights Reserved</span></p>
        <div class="credits">
            ZenBlog design by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
    </div>
</footer>
