@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<PageTextArticle>
@{
    Layout = "master.cshtml";
    var article = new TextArticle(Model);
}

<main class="main">
    <div class="container">
        <div class="row">
        <div class="col-lg-8">
            <section id="blog-details" class="blog-details section">
            <div class="container">
                <article class="article">
                    @if (article.ArticleImage != null)
                    {
                        <div class="post-img">
                            <img src=@article.ArticleImage.Url() alt="" class="img-fluid">
                        </div>
                    }

                    <h2 class="title">@article.ArticleTitle</h2>

                    <div class="meta-top">
                        <ul>
                        <li class="d-flex align-items-center"><i class="bi bi-person"></i> @article.Author.Name</a></li>
                        <li class="d-flex align-items-center"><i class="bi bi-clock"></i> @article.Date.ToShortDateString()</li>
                        @* <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href=@article.Author.Page.Url()>@article.Author.Name</a></li> *@
                        @* <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-details.html"><time datetime="2020-01-01">@article.Date.ToShortDateString()</time></a></li> *@
                        @* <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="blog-details.html">12 Comments</a></li> *@
                        </ul>
                    </div>

                    @Html.GetBlockListHtml(article.ArticleBlocks)

                    <div class="meta-bottom">
                        <i class="bi bi-folder"></i>
                        <ul class="cats">
                        <li><a href=@article.Category.PageUrl>@article.Category.Page.Name</a></li>
                        </ul>

                        @* <i class="bi bi-tags"></i>
                        <ul class="tags">
                        <li><a href="#">Creative</a></li>
                        <li><a href="#">Tips</a></li>
                        <li><a href="#">Marketing</a></li>
                        </ul> *@
                    </div>
                </article>
            </div>
            </section>
        </div>

        <div class="col-lg-4 sidebar">
            <div class="widgets-container">
            <div class="blog-author-widget widget-item">
                <div class="d-flex flex-column align-items-center">
                <div class="d-flex align-items-center w-100">
                    <img src="assets/img/blog/blog-author.jpg" class="rounded-circle flex-shrink-0" alt="">
                    <div>
                    <h4>@article.Author.Name</h4>
                    @* <div class="social-links">
                        <a href="https://x.com/#"><i class="bi bi-twitter-x"></i></a>
                        <a href="https://facebook.com/#"><i class="bi bi-facebook"></i></a>
                        <a href="https://instagram.com/#"><i class="biu bi-instagram"></i></a>
                        <a href="https://instagram.com/#"><i class="biu bi-linkedin"></i></a>
                    </div> *@
                    </div>
                </div>

                <p>
                    @article.Author.ShortBiography
                </p>

                </div>
            </div>

            @* <div class="search-widget widget-item">
                <h3 class="widget-title">Search</h3>
                <form action="">
                <input type="text">
                <button type="submit" title="Search"><i class="bi bi-search"></i></button>
                </form>
            </div> *@

            <div class="recent-posts-widget widget-item">
                <h3 class="widget-title">Recent Posts</h3>

                @foreach (var related in article.Category.LatestArticles.Take(5))
                {
                    <div class="post-item">
                        <img src=@related.CardImage.Url() alt="" class="flex-shrink-0">
                        <div>
                            <h4><a href=@related.PageUrl>@related.CardTitle</a></h4>
                            <time datetime="2020-01-01">@related.Date.ToShortDateString()</time>
                        </div>
                    </div>
                }
            </div>

            @* <div class="tags-widget widget-item">
                <h3 class="widget-title">Tags</h3>
                <ul>
                <li><a href="#">App</a></li>
                <li><a href="#">IT</a></li>
                <li><a href="#">Business</a></li>
                <li><a href="#">Mac</a></li>
                <li><a href="#">Design</a></li>
                <li><a href="#">Office</a></li>
                <li><a href="#">Creative</a></li>
                <li><a href="#">Studio</a></li>
                <li><a href="#">Smart</a></li>
                <li><a href="#">Tips</a></li>
                <li><a href="#">Marketing</a></li>
                </ul>
            </div> *@
            </div>
        </div>
        </div>
    </div>
</main>
  