@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<PageCategory>
@{
    Layout = "master.cshtml";
    var category = new Category(Model);
}

<main class="main">
    <div class="page-title position-relative">
        <div class="container d-lg-flex justify-content-between align-items-center">
            <h1 class="mb-2 mb-lg-0">@category.CategoryName</h1>
            @* <nav class="breadcrumbs">
            <ol>
            <li><a href="index.html">Home</a></li>
            <li class="current">Categories</li>
            </ol>
            </nav> *@
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <section id="blog-posts" class="blog-posts section">
                    <div class="container">
                        <div class="row gy-4">
                            @foreach (var article in category.LatestArticles)
                            {
                                <div class="col-lg-6">
                                    <article class="position-relative h-100">
                                        <div class="post-img position-relative overflow-hidden">
                                            @if (article.CardImage != null)
                                            {
                                                <img src=@article.CardImage.Url() class="img-fluid" alt="">
                                            }
                                            <span class="post-date">@DateTimeUtility.MonthDay(article.Date)</span>
                                        </div>

                                        <div class="post-content d-flex flex-column">
                                            <h3 class="post-title">@article.CardTitle</h3>

                                            <div class="meta d-flex align-items-center">
                                                <div class="d-flex align-items-center">
                                                    <i class="bi bi-person"></i> <span class="ps-2">@article.Author.Name</span>
                                                </div>

                                                @* <span class="px-3 text-black-50">/</span>

                                                <div class="d-flex align-items-center">
                                                    <i class="bi bi-folder2"></i> <span class="ps-2">Politics</span>
                                                </div> *@
                                            </div>

                                            <p>@article.CardDescription</p>

                                            <hr>

                                            <a href=@article.PageUrl class="readmore stretched-link"><span>Read More</span><i class="bi bi-arrow-right"></i></a> @* TODOTODO: use translations *@
                                        </div>
                                    </article>
                                </div>
                            }
                        </div>
                    </div>
                </section>
               @*  <section id="blog-pagination" class="blog-pagination section">
                    <div class="container">
                        <div class="d-flex justify-content-center">
                            <ul>
                                <li><a href="#"><i class="bi bi-chevron-left"></i></a></li>
                                <li><a href="#">1</a></li>
                                <li><a href="#" class="active">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li>...</li>
                                <li><a href="#">10</a></li>
                                <li><a href="#"><i class="bi bi-chevron-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </section> *@
            </div>

            <div class="col-lg-4 sidebar">
                <div class="widgets-container">
                    @* <div class="blog-author-widget-2 widget-item">
                        <div class="d-flex flex-column align-items-center">
                            <img src="assets/img/blog/blog-author.jpg" class="rounded-circle flex-shrink-0" alt="">
                            <h4>Jane Smith</h4>
                            <div class="social-links">
                                <a href="https://x.com/#"><i class="bi bi-twitter-x"></i></a>
                                <a href="https://facebook.com/#"><i class="bi bi-facebook"></i></a>
                                <a href="https://instagram.com/#"><i class="biu bi-instagram"></i></a>
                                <a href="https://instagram.com/#"><i class="biu bi-linkedin"></i></a>
                            </div>

                            <p>
                                Itaque quidem optio quia voluptatibus dolorem dolor. Modi eum sed possimus accusantium. Quas repellat voluptatem officia numquam sint aspernatur voluptas. Esse et accusantium ut unde voluptas.
                            </p>
                        </div>
                    </div> *@

                    @* <div class="search-widget widget-item">
                        <h3 class="widget-title">Search</h3>
                        <form action="">
                            <input type="text">
                            <button type="submit" title="Search"><i class="bi bi-search"></i></button>
                        </form>
                    </div> *@

                    <div class="recent-posts-widget widget-item">
                        <h3 class="widget-title">Recent Posts</h3> @* TODOTODO: use translations *@

                        @foreach (var article in category.LatestArticles)
                        {
                            <div class="post-item">
                                @if (article.CardImage != null)
                                {
                                    <img src=@article.CardImage.Url() alt="" class="flex-shrink-0">
                                }
                                <div>
                                    <h4><a href=@article.PageUrl>@article.CardTitle</a></h4>
                                    <time datetime="2020-01-01">@DateTimeUtility.MonthDayYear(article.Date)</time>
                                </div>
                            </div>
                        }
                    </div>
                    
                    @* <div class="tags-widget widget-item">
                        <h3 class="widget-title">Tags</h3>
                        <ul>
                            <li><a href="#">App</a></li>
                            <li><a href="#">IT</a></li>
                            <li><a href="#">Business</a></li>
                            <li><a href="#">Mac</a></li>
                            <li><a href="#">Design</a></li>
                            <li><a href="#">Office</a></li>
                            <li><a href="#">Creative</a></li>
                            <li><a href="#">Studio</a></li>
                            <li><a href="#">Smart</a></li>
                            <li><a href="#">Tips</a></li>
                            <li><a href="#">Marketing</a></li>
                        </ul>
                    </div> *@
                </div>
            </div>
        </div>
    </div>
</main>
